<nav class="top-header">
  <a class="auth">Sign In</a>
</nav>
<header class="header-second">
  <div class="wrap-header-second">
    <div class="logo" routerLink="/">
      Movies Reviews
      <small>Relaible Review</small>
    </div>
    <ul class="header-list">
      <li class="header-category link">
        Drama
      </li>
      <li class="header-category link">
        Romance
      </li>
      <li class="header-category link">
        Adventure
      </li>
      <li class="header-category link">Fantasy</li>
      <li class="header-category link">
        Action
      </li>
      <li class="header-category link">
        Comedy
      </li>
      <li class="header-category">
        More
        <span class="caret"></span>
        <div class="dropdown-menu">
          <ul>
            <li class="link">Crime</li>
            <li class="link">Documentary</li>
            <li class="link">Family</li>
            <li class="link">Horror</li>
            <li class="link">Mystery</li>
            <li class="link">Thriller</li>
            <li class="link">War</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</header>

